img.img-thumbnail {
  margin-top: 5px;
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

/* this hides the choose file text next to the file inputs */
input[type="file"] {
  color: transparent;
}
